body{
	background:#F5F5F5;
	
}

h1{
	
	margin-top: 15px;
}

footer{
	background: #F1F0F2;
}

#magazine{
	width:1152px;
	height:752px;
	margin: 100px;
	margin-top: 25px;
	
	
	
	 
}
#magazine .turn-page{
	background-color:#fffdfd;
	background-size:100% 100%;
	
	
}